
.DS_Store

Talks/Stats_FH/Stats_parity.vrb
Talks/Stats_FH/Stats_parity.aux
Talks/Stats_FH/Stats_parity.fdb_latexmk
Talks/Stats_FH/Stats_parity.fls
Talks/Stats_FH/Stats_parity.log
Talks/Stats_FH/Stats_parity.nav
Talks/Stats_FH/Stats_parity.out
Talks/Stats_FH/Stats_parity.snm
Talks/Stats_FH/Stats_parity.synctex.gz
Talks/Stats_FH/Stats_parity.toc
